body {
  background-color: #303b4a;
  color: #45cece;
  text-align: center;
}
html {
  font-family: "Century Gothic", CenturyGothic;
}
menu a {
  color: black;
  text-decoration: none;
  font-size: 150%;
}
menu {
  text-align: center;
}
h1 {
  font-size: 6em;
  font-family: "Century Gothic", CenturyGothic;
  font-weight: normal;
  text-align: center;
}
header {
  text-align: right;
}
#info {

  padding-left: 15%;
  padding-right: 15%;
}
#info_nahore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4%;

}
#info_text_1a {
  text-align: right !important;
}
#info_text_1a h3{
  text-align: right ;
}
#info_text_1a p{
  text-align: right ;
}
#info_text_1b h3{
  text-align: left ;
}
#info_text_1b p{
  text-align: left ;
}

#info_text_1b {
  text-align: left;
}
.formular {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20%;
  padding-right: 20%;
  gap: 1.5%;
}
.formular_mobile {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
 
}
.mleft{
  text-align: center;
}
#propozice{
  text-align: center;
  width:80%;
  height: 100%;
  position:absolute;


}
h2 {
  font-family: "Century Gothic", CenturyGothic;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1%;
}
form input {
  width: 50%;
  background-color: #dadfe4;
}
form select {
  width: 50%;
  background-color: #444e59;
}
.left {
  text-align: right;
}
.right {
  text-align: left;
}
.right_check {
  text-align: left;
}
h3 {
  font-family: "Century Gothic", CenturyGothic;
  font-weight: normal;
  text-align: center;
  margin: 1%;
}
.counter {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 0.9fr 0.9fr 0.9fr 0.9fr 1fr;
  padding-left: 10%;
  padding-right: 10%;
  gap: 1.5%;
}
.counter h2 {
  font-family: "Century Gothic", CenturyGothic;
  font-weight: normal;
  text-align: center;
  margin: 0%;
}
.counter h3 {
  font-family: "Century Gothic", CenturyGothic;
  font-weight: normal;
  text-align: center;
  margin: 0%;
}



#center
{
  display: flex;
  justify-content: space-around;
}

#kontakty_blok{
  text-align: center;
  margin-top: 5%;
}

p{
  text-align: center;
}

#center input{
  color:#dadfe4;
  background-color:#45cece ;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  border-radius: 4px;
}

#logo{
  filter: invert(83%) sepia(82%) saturate(1620%) hue-rotate(140deg) brightness(86%) contrast(86%);
}

#mobile_logo{
  display: none;
  min-width: 200px;
  color: #45cece;
}

.counter_mobile{
  display: none;
}
#form_mobile{
  display: none;
}
 
@media only screen and (hover:none) and (pointer:coarse){ 
  #logo{
    display: none;
  }
 
  #mobile_logo{
    display: block;
    filter: invert(83%) sepia(82%) saturate(1620%) hue-rotate(140deg) brightness(86%) contrast(86%);
  }
  .counter_mobile{
    display: block;
  }
  .counter{
    display: none;
  }
 
  #form_mobile{
    display: block;
  }
  #form_web{
    display: none;
  }
 
}

#odeslat:disabled{

  background-color: grey;
}
  