
.fotky_frame{
    border:2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    text-align: center;
    border:2px;
}

.top_galery{
    display: flex;
    justify-content: space-around;
    }
.bottom_galery{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    
}

